@media only screen and (max-width: 950px) {
  .navbar-right{
    visibility: hidden;
  }
  .burger{
    visibility: visible;
  }
  .mobile{
    width: 100%;
  }
}

@media only screen and (max-width: 650px) {
  .navbar{
    border-left: 0;
    border-right: 0;
  }

}
