*{
  box-sizing: border-box;
  transition: transform 0.3s, color 0.3s, background-color 0.3s, width 0.3s;
}

html, body{
  width: 100%;
  overflow-x: hidden;
  min-height: 500px;
  height: auto;
}

@font-face {
  src: url(./../assets/fonts/Roboto/Roboto-Black.ttf);
  font-family: Roboto-Bold;
}
@font-face {
  src: url(./../assets/fonts/Roboto/Roboto-Regular.ttf);
  font-family: Roboto;
}
@font-face {
  src: url(./../assets/fonts/Roboto/Roboto-Thin.ttf);
  font-family: Roboto-Light;
}

@font-face {
  src: url(./../assets/fonts/Roboto_Condensed/RobotoCondensed-Regular.ttf);
  font-family: Roboto-Condensed;
}

@font-face {
  src: url(./../assets/fonts/Roboto_Condensed/RobotoCondensed-Bold.ttf);
  font-family: Roboto-Condensed-Bold;
}

@font-face {
  src: url(./../assets/fonts/Roboto_Condensed/RobotoCondensed-Light.ttf);
  font-family: Roboto-Condensed-Light;
}



.roboto-bold{
  font-family: Roboto-Bold;
}

.roboto{
  font-family: Roboto;
}

.roboto-light{
  font-family: Roboto-Light;
}

.roboto-condensed{
  font-family: Roboto-Condensed;
}

.roboto-condensed-bold{
  font-family: Roboto-Condensed-Bold;
}

.roboto-condensed-light{
  font-family: Roboto-Condensed-Light;
}

body{
  overflow-x: hidden;
}

div{
  font-family: Roboto-light;
}

.flex{
  display: flex;
  align-items: center;
}

.around{
  justify-content: space-around;
}

.between{
  justify-content: space-between;
}

.align-center{
  align-items: center;
}

.centralizer{
  display: flex;
  align-items: center;
  justify-content: center;
}


.flex-wrapper{
  flex-wrap: wrap;
}

.column{
  flex-direction: column;
}

.fw{
  width: 100%;
}

.fh{
  height: 100%;
}

.circular{
  border-radius: 50%;
}

.v-padding-small{
  padding-top: 10px;
  padding-bottom: 10px;
}

.v-padding-medium{
  padding-top: 25px;
  padding-bottom: 25px;
}

.v-margin-small{
  margin-top: 10px;
  margin-bottom: 10px;
}

.v-margin-medium{
  margin-top: 25px;
  margin-bottom: 25px;
}

.border-regular{
  border: 1px solid var(--regular);
}

.absolute{
  position: absolute;
}

.relative{
  position: relative;
}

.disabled{
  pointer-events: none;
  font-family: Roboto-Bold;
}

.no-default{
  text-decoration: none;
}

.p-25{
  padding: 25px 0;
}

.p-10{
  padding: 10px 10px;
}

.p-h-10{
  padding: 0 10px;
}

.map{
  height: 250px;
  width: auto;
}

.half-container{
  width: 50%;
  padding: 10px;
}

.third-container{
  width: 30%;
  padding: 10px;
}
